@import './content.css';
@import './scrollbar.css';
@import './sakura.css';
@import './popper.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mask-radial {
    -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
  }
  .mask-radial-2 {
    -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 15%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 100%, rgba(217, 217, 217, 0) 100%);
  }
  .blur-performance {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .start {
    animation-play-state: running;
  }
}

@layer base {
  .link {
    @apply font-bold text-zinc-950 border-b border-pink-500 hover:border-b-[2px];
  }
}



body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }