@import './content.css';
@import './scrollbar.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mask-radial {
    -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
  }
  .mask-radial-2 {
    -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 15%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 100%, rgba(217, 217, 217, 0) 100%);
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .start {
    animation-play-state: running;
  }
}



body {
  margin: 0;
}

* {
  box-sizing: border-box;
}