@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mask-radial {
    -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(50% 50% at 50% 50%, #D9D9D9 79.17%, rgba(217, 217, 217, 0) 100%);
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .start {
    animation-play-state: running;
  }
}

@layer base {
  .scrollbox::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    height: 4px;
  }
  .scrollbox:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbox:hover::-webkit-scrollbar-thumb {
    background-color: theme("colors.zinc.200");
  }
  .scrollbox::-webkit-scrollbar-thumb:hover {
    background-color: theme("colors.zinc.300");
  }
  @media (hover: none) {
    .scrollbox::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    .scrollbox::-webkit-scrollbar-thumb {
      background-color: theme("colors.zinc.200");
    }
  }
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}