.v-popper--theme-tooltip .v-popper__wrapper .v-popper__inner {
  background: white;
  color: #09090B;
  font-size: 14px;
  border: 1px solid #E4E4E7;
}

.v-popper--theme-tooltip .v-popper__wrapper .v-popper__arrow-container {
  display: none;
}

.v-popper__popper.v-popper__popper--show-from .v-popper__wrapper {
  transform: scale(.5);
}

.v-popper__popper.v-popper__popper--show-to .v-popper__wrapper {
  transform: none;
  transition: transform .15s;
}