@layer base {
  .scrollbox::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    height: 4px;
  }
  .scrollbox:hover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbox:hover::-webkit-scrollbar-thumb {
    background-color: theme("colors.zinc.200");
  }
  .scrollbox::-webkit-scrollbar-thumb:hover {
    background-color: theme("colors.zinc.300");
  }
  @media (hover: none) {
    .scrollbox::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    .scrollbox::-webkit-scrollbar-thumb {
      background-color: theme("colors.zinc.200");
    }
  }
}