---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import { Image } from "@astrojs/image/components";
import logo from "../assets/logo/menthor.svg";
import Button from "../components/Button.vue";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="container mx-auto flex items-center justify-between h-[500px] py-2"
    >
      <Image src={logo} alt="Menthor Logo" />
      <div>
        <Button text="Entre no discord" icon-left="home" />
      </div>
      <i
        class="fa-solid fa-user text-[99px] text-indigo-600 hover:text-amber-400"
      ></i>
      <div class="wolf">Wolf</div>
    </header>
    <slot />
  </body>
</html>
