@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans UltraLight'), 
      local('Mona-Sans-UltraLight'),
      url('/webfonts/Mona-Sans-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans Light'), 
      local('Mona-Sans-Light'),
      url('/webfonts/Mona-Sans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona-Sans";
  src: local('Mona-Sans Regular'), 
      local('Mona-Sans-Regular'),
      url('/webfonts/Mona-Sans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans Medium'), 
      local('Mona-Sans-Medium'),
      url('/webfonts/Mona-Sans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans SemiBold'), 
      local('Mona-Sans-SemiBold'),
      url('/webfonts/Mona-Sans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans Bold'), 
      local('Mona-Sans-Bold'),
      url('/webfonts/Mona-Sans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans ExtraBold'), 
      local('Mona-Sans-ExtraBold'),
      url('/webfonts/Mona-Sans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans Black'), 
      local('Mona-Sans-Black'),
      url('/webfonts/Mona-Sans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Italic */

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans UltraLightItalic'), 
      local('Mona-Sans-UltraLightItalic'),
      url('/webfonts/Mona-Sans-UltraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans LightItalic'), 
      local('Mona-Sans-LightItalic'),
      url('/webfonts/Mona-Sans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mona-Sans";
  src: local('Mona-Sans RegularItalic'), 
      local('Mona-Sans-RegularItalic'),
      url('/webfonts/Mona-Sans-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans MediumItalic'), 
      local('Mona-Sans-MediumItalic'),
      url('/webfonts/Mona-Sans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans SemiBoldItalic'), 
      local('Mona-Sans-SemiBoldItalic'),
      url('/webfonts/Mona-Sans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans BoldItalic'), 
      local('Mona-Sans-BoldItalic'),
      url('/webfonts/Mona-Sans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans ExtraBoldItalic'), 
      local('Mona-Sans-ExtraBoldItalic'),
      url('/webfonts/Mona-Sans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mona-Sans';
  src: local('Mona-Sans BlackItalic'), 
      local('Mona-Sans-BlackItalic'),
      url('/webfonts/Mona-Sans-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}